@(formVotekeyGeneration: Form[VotekeyGeneration])
@import helper._

<!DOCTYPE html>

<html>
<head>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <title>creation cle de vote</title>
</head>
<body>
    @form(routes.VotekeyCtl.create()) {
        <fieldset>
            @inputText(formVotekeyGeneration("number"))
        </fieldset>
        <input type="submit" value="Creer clé" class="btn btn-primary">
        &nbsp;
        <a class="btn" href="@routes.VotekeyCtl.index()"> Annuler</a>
    }
</body>
</html>
